table {
    border-collapse: collapse;
  }
  
  table,tr,td {
    border: 1px solid black;
  }
  .peach{
      background-color: rgb(223,127,80);
  }
  .pink{
      background-color: rgb(218,112,214);
  }
  .purple{
      background-color: rgb(123,104,238);
  }
  .yellow{
      background-color: rgb(255,215,0);
  }
  .brown{
      background-color: rgb(160,82,45);
  }
  .dark-pink{
      background-color: rgb(250,128,114);
  }
  .green{
      background-color: rgb(46,139,87);
  }
  .blue{
      background-color: rgb(100,149,237);
  }
  .light-pink{
      background-color: rgb(255,182,193);
  }